body {
  background-color: #f3f2ef;
}

.h-22 {
  height: 22.5rem;
}

.h-27 {
  height: 27.2rem;
}

.input {
  background-color: #eef3f8;
}

.colour {
  color: #b1b1b1;
}

.grow {
  color: #434343;
}

.post-input {
  width: 35re;
}
